appdirs==1.4.0
bottle==0.12.13
Django==1.10.5
django-colorfield==0.1.12
django-cors-headers==2.0.2
django-haystack==2.6.0
django-pagination==1.0.7
django-summernote==0.8.6
djangorestframework==3.5.4
jieba==0.38
Markdown==2.6.8
markdown2==2.3.3
olefile==0.44
packaging==16.8
Pillow==4.1.0
Pygments==2.2.0
pymdown-extensions==2.0
PyMySQL==0.7.9
pyparsing==2.1.10
pysolr==3.6.0
requests==2.13.0
six==1.10.0
solr==0.4
uWSGI==2.0.15
Whoosh==2.7.4
